<!-- 定义导航栏 -->
<div class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation" >
    <div class="col-md-offset-1 col-lg-offset-2 col-md-10 col-lg-8">
        <div class="navbar-header">
           　<!-- .navbar-toggle样式用于toggle收缩的内容，即nav-collapse collapse样式所在元素 -->
             <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
               <span class="sr-only">Toggle Navigation</span>
               <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
             </button>
             <!-- 确保无论是宽屏还是窄屏，navbar-brand都显示 -->
             <a href="##" class="navbar-brand">胡杭凯个人博客</a>
        </div>
        <!-- 屏幕宽度小于768px时，div.navbar-responsive-collapse容器里的内容都会隐藏，显示icon-bar图标，当点击icon-bar图标时，再展开。屏幕大于768px时，默认显示。 -->
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                  <li class="active"><a href="{% url 'article:article_index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"> 首页</a></li>

                  <li role="presentation" class="dropdown">
                      <a href="##" data-toggle="dropdown" class="dropdown-toggle">学无止境 <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="##">python</a></li>
                          <li><a href="##">linux</a></li>
                          <li><a href="##">mysql</a></li>
                      </ul>
                  </li>

                  <li role="presentation" class="dropdown">
                      <a href="##" data-toggle="dropdown" class="dropdown-toggle">后台管理 <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="https://account.aliyun.com/login/login.htm" target="view_window">阿里云控制台</a></li>
                          <li><a href="http://huhangkai.com:8081/login" target="view_window">Jenkins</a></li>
                          <li><a href="##">mysql</a></li>
                      </ul>
                  </li>

                  <li><a href="##">生活日志 </a></li>

                  <li><a href="##">留言簿 </a></li>

                  <li role="presentation" class="dropdown">
                      <a href="##" data-toggle="dropdown" class="dropdown-toggle">时间轴<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="##">学习计划</a></li>
                          <li><a href="##">其他计划</a></li>
                      </ul>
                  </li>

                  <li><a href="##">关于我 </a></li>
                  <li><a href="##"><span class="glyphicon glyphicon-search" aria-hidden="true"> </a></li>
              </ul>
            <ul class="nav navbar-nav pull-right">
                <!--已经登录，显示用户名下拉框-->
                {% if user.is_authenticated %}
                  <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                      <!--{{ user.username }}-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                      <!--<a class="dropdown-item" href="#" onclick="user_delete()">删除用户</a>-->
                      <!--<a class="dropdown-item" href="#">退出登录</a>-->
                    <!--</div>-->
                  <!--</li>-->
                <!--如果未登录，显示登录按钮-->
                {% else %}
                  <li class="text-right"><a class="nav-link" href="##">[登录]</a></li>
                  <li class="text-right"><a class="nav-link" href="##">[注册]</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-md-1 col-lg-2"></div>
</div>