<!-- 定义导航栏 -->
<div class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation" >
    <div class="col-md-offset-1 col-lg-offset-2 col-md-10 col-lg-8">
        <div class="navbar-header">
           　<!-- .navbar-toggle样式用于toggle收缩的内容，即nav-collapse collapse样式所在元素 -->
             <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
               <span class="sr-only">Toggle Navigation</span>
               <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
             </button>
             <!-- 确保无论是宽屏还是窄屏，navbar-brand都显示 -->
             <a href="##" class="navbar-brand">胡杭凯个人博客</a>
        </div>
        <!-- 屏幕宽度小于768px时，div.navbar-responsive-collapse容器里的内容都会隐藏，显示icon-bar图标，当点击icon-bar图标时，再展开。屏幕大于768px时，默认显示。 -->
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                  <li class="active"><a href="{% url 'article:article_index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"> 首页</a></li>

                  <li role="presentation" class="dropdown">
                      <a href="##" data-toggle="dropdown" class="dropdown-toggle">学无止境 <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="##">python</a></li>
                          <li><a href="##">linux</a></li>
                          <li><a href="##">mysql</a></li>
                      </ul>
                  </li>

                  <li role="presentation" class="dropdown">
                      <a href="##" data-toggle="dropdown" class="dropdown-toggle">后台管理 <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="https://account.aliyun.com/login/login.htm" target="view_window">阿里云控制台</a></li>
                          <li><a href="http://huhangkai.com:8081/login" target="view_window">Jenkins</a></li>
                          <li><a href="http://huhangkai.com/admin">数据库admin</a></li>
                          <li><a href="{% url 'article:article_create' %}">写文章</a></li>
                      </ul>
                  </li>

                  <li><a href="##">生活日志 </a></li>

                  <li><a href="##">留言簿 </a></li>

                  <li role="presentation" class="dropdown">
                      <a href="##" data-toggle="dropdown" class="dropdown-toggle">时间轴<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="##">学习计划</a></li>
                          <li><a href="##">其他计划</a></li>
                      </ul>
                  </li>

                  <li><a href="##">关于我 </a></li>
                  <li><a href="##"><span class="glyphicon glyphicon-search" aria-hidden="true"> </a></li>
              </ul>


            <!--已经登录，显示用户名下拉框-->
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation" class="dropdown">
                          <a href="##" data-toggle="dropdown" class="dropdown-toggle">{{ user.username }}<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="##">用户信息</a></li>
                              <li><a href="##">删除用户</a></li>
                              <li><a href="#logout" data-toggle="modal">退出登录</a></li>
                          </ul>
                    </li>
                </ul>
            <!--如果未登录，显示登录按钮-->
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" href="#register" data-target="#register"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a data-toggle="modal" href="#login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                </ul>
            {% endif %}

        </div>
    </div>
    <div class="col-md-1 col-lg-2"></div>
</div>

<!-- 注册窗口 -->
<div id="register" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-title">
                <h1 class="text-center">注册</h1>
            </div>
            <div class="modal-body">
                <form class="form-group" action="/article/login" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">用户名</label>
                        <input class="form-control" type="text" placeholder="6-15位字母或数字">
                    </div>
                    <div class="form-group">
                        <label for="">密码</label>
                        <input class="form-control" type="password" placeholder="至少6位字母或数字">
                    </div>
                    <div class="form-group">
                        <label for="">再次输入密码</label>
                        <input class="form-control" type="password" placeholder="至少6位字母或数字">
                    </div>
                    <div class="form-group">
                        <label for="">邮箱</label>
                        <input class="form-control" type="email" placeholder="例如:123@123.com">
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">提交</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                    <a href="" data-toggle="modal" data-dismiss="modal" data-target="#login">已有账号？点我登录</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 登录窗口 -->
<div id="login" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-title">
                <h1 class="text-center">登录</h1>
            </div>
            <div class="modal-body">
                <form class="form-group" action="/article/login"  method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="">用户名</label>
                        <input class="form-control" type="text" placeholder="" name="username">
                    </div>
                    <div class="form-group">
                        <label for="">密码</label>
                        <input class="form-control" type="password" placeholder="" name="password">
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" type="submit">登录</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                    <a href="" data-toggle="modal" data-dismiss="modal" data-target="#register">还没有账号？点我注册</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 退出登录确认 -->
<div class="modal fade" id="logout">
  <div class="modal-dialog">
    <div class="modal-content message_align">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">提示信息</h4>
      </div>
      <div class="modal-body">
        <p>您确认要退出登录吗？</p>
      </div>
      <div class="modal-footer">
         <input type="hidden" id="url"/>
         <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
         <a href="{% url 'article:article_logout' %}" class="btn btn-default">确定</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

